In [4]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
data={'year':[1,2,3,4],'state':['A','B','C','D'],'pop':[9999,8888,0000,6666]}
DataFrame(data)

    pop state  year
0  9999     A     1
1  8888     B     2
2     0     C     3
3  6666     D     4

In [5]:
DataFrame(data,columns=['year','pop','state'])

   year   pop state
0     1  9999     A
1     2  8888     B
2     3     0     C
3     4  6666     D

In [6]:
df=DataFrame(data,columns=['year','pop','state',"N"],index=['a','b','c','d'])
df

   year   pop state    N
a     1  9999     A  NaN
b     2  8888     B  NaN
c     3     0     C  NaN
d     4  6666     D  NaN

In [7]:
df['pop']

a    9999
b    8888
c       0
d    6666
Name: pop, dtype: int64

In [8]:
df.pop

<bound method NDFrame.pop of    year   pop state    N
a     1  9999     A  NaN
b     2  8888     B  NaN
c     3     0     C  NaN
d     4  6666     D  NaN>

In [9]:
obj=Series(np.arange(5.),index=['a','b','c','d','e'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [11]:
new_obj=obj.drop("c")
new_obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [14]:
data=Series(np.random.randn(10),index=[['a','a','a','b','b','b','c','c','d','d'],[1,2,3,1,2,3,1,2,2,3]])
data

a  1    1.083525
   2   -0.988025
   3   -1.043992
b  1   -2.489995
   2   -0.909492
   3    0.335435
c  1    0.025538
   2    0.433637
d  2   -0.234080
   3   -0.368995
dtype: float64

In [15]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])

In [16]:
data['b']

1   -2.489995
2   -0.909492
3    0.335435
dtype: float64

In [17]:
data['b':'d']

b  1   -2.489995
   2   -0.909492
   3    0.335435
c  1    0.025538
   2    0.433637
d  2   -0.234080
   3   -0.368995
dtype: float64